In [1]:
import numpy as np
import pandas as pd

In [2]:
  A B C
x 1 2 a
y 2 3 c
z 3 4 b

SyntaxError: invalid syntax (<ipython-input-2-210aac1c70d7>, line 1)

In [3]:
df = pd.read_clipboard()

In [4]:
df

   A  B  C
x  1  2  a
y  2  3  c
z  3  4  b

In [5]:
df = pd.DataFrame(np.random.randn(5,3))

In [6]:
df

          0         1         2
0  0.278930 -0.729726 -0.735342
1 -1.937443 -0.103927 -0.494089
2  0.545587  0.547151 -2.561218
3 -1.028048 -0.463283 -1.441656
4  0.777555 -0.085368  0.863023

In [7]:
#Copy to clipboard
df.to_clipboard()

In [ ]:
	0	1	2
0	0.2789297485612229	-0.7297264678697566	-0.7353424402821072
1	-1.9374426037079773	-0.10392657523191545	-0.4940891572667977
2	0.5455872336084113	0.5471510664943873	-2.5612175240070285
3	-1.0280479748030162	-0.4632828372265692	-1.4416562164093651
4	0.7775554943075043	-0.08536805162833981	0.8630228089070687