In [1]:
import numpy as np
import pandas as pd

In [2]:
range1 = pd.date_range('1/1/2019', periods=10, freq='H')

In [3]:
range1

DatetimeIndex(['2019-01-01 00:00:00', '2019-01-01 01:00:00',
               '2019-01-01 02:00:00', '2019-01-01 03:00:00',
               '2019-01-01 04:00:00', '2019-01-01 05:00:00',
               '2019-01-01 06:00:00', '2019-01-01 07:00:00',
               '2019-01-01 08:00:00', '2019-01-01 09:00:00'],
              dtype='datetime64[ns]', freq='H')

In [5]:
type(range1)

pandas.core.indexes.datetimes.DatetimeIndex

In [8]:
ts1 = pd.Series(np.random.randn(10), index = range1)

In [9]:
ts1

2019-01-01 00:00:00   -2.106583
2019-01-01 01:00:00   -0.696991
2019-01-01 02:00:00   -0.390605
2019-01-01 03:00:00   -0.315175
2019-01-01 04:00:00   -1.044472
2019-01-01 05:00:00    0.773021
2019-01-01 06:00:00    1.289190
2019-01-01 07:00:00    1.446308
2019-01-01 08:00:00   -0.740567
2019-01-01 09:00:00    1.190724
Freq: H, dtype: float64

# Timestamp VS Periods

In [10]:
from datetime import datetime

In [11]:
t1 = pd.Timestamp(datetime(2019, 2, 1))
t2 = pd.Timestamp('2019-02-01')
t3 = pd.Timestamp (2019, 2, 1)

In [12]:
t1

Timestamp('2019-02-01 00:00:00')

In [13]:
t2

Timestamp('2019-02-01 00:00:00')

In [14]:
t3

Timestamp('2019-02-01 00:00:00')

In [15]:
p1 = pd.Period('2017-01')

In [16]:
p1

Period('2017-01', 'M')

In [17]:
p2 = pd.Period('2017-05', freq='D')

In [18]:
p2

Period('2017-05-01', 'D')

In [19]:
dates = [pd.Timestamp('2019-05-01'),
        pd.Timestamp('2019-05-02'),
        pd.Timestamp('2019-05-03'),]

In [20]:
dates

[Timestamp('2019-05-01 00:00:00'),
 Timestamp('2019-05-02 00:00:00'),
 Timestamp('2019-05-03 00:00:00')]

In [21]:
type(dates)

list

In [26]:
ts2 = pd.Series (np.random.randn(3), dates)

In [27]:
ts2

2019-05-01   -0.290112
2019-05-02    0.411586
2019-05-03   -0.360628
dtype: float64

In [28]:
type(ts2)

pandas.core.series.Series

In [30]:
ts2.index

DatetimeIndex(['2019-05-01', '2019-05-02', '2019-05-03'], dtype='datetime64[ns]', freq=None)

In [31]:
periods1 = [pd.Period('2019-01'),
           pd.Period('2019-02'),
           pd.Period('2019-03'),]

In [32]:
periods1

[Period('2019-01', 'M'), Period('2019-02', 'M'), Period('2019-03', 'M')]

In [33]:
type(periods1)

list

In [34]:
ts3 = pd.Series(np.random.randn(3), periods1)

In [35]:
ts3

2019-01    1.107102
2019-02   -0.871403
2019-03    0.051357
Freq: M, dtype: float64

In [36]:
type(ts3)

pandas.core.series.Series

In [37]:
ts3.index

PeriodIndex(['2019-01', '2019-02', '2019-03'], dtype='period[M]', freq='M')

# Conver to Date Time

In [43]:
s1 = pd.to_datetime(pd.Series(['Jul 31, 2009',
                              '2010-01-10',
                              None, '2005/11/23',
         
                               
                               
                               '2010.12.31']))

In [44]:
s1

0   2009-07-31
1   2010-01-10
2          NaT
3   2005-11-23
4   2010-12-31
dtype: datetime64[ns]

In [45]:
s2 = pd.to_datetime(pd.Series(['Jul 31, 2009',
                              '2010-01-10',
                              None, '2005/11/23',
                              '2010.12.31']),
                       dayfirst= True)

In [46]:
s2

0   2009-07-31
1   2010-01-10
2          NaT
3   2005-11-23
4   2010-12-31
dtype: datetime64[ns]

In [47]:
d1 = [datetime(2019, 5, 1),
     datetime(2019, 5, 2),
     datetime(2019, 5, 3),]

In [48]:
d1

[datetime.datetime(2019, 5, 1, 0, 0),
 datetime.datetime(2019, 5, 2, 0, 0),
 datetime.datetime(2019, 5, 3, 0, 0)]

In [49]:
type(d1)

list

In [50]:
index = pd.DatetimeIndex(d1)

In [51]:
index

DatetimeIndex(['2019-05-01', '2019-05-02', '2019-05-03'], dtype='datetime64[ns]', freq=None)

In [52]:
type(index)

pandas.core.indexes.datetimes.DatetimeIndex

## Defining Indices

In [54]:
start = datetime(2019, 1, 1)
end   = datetime(2020, 1,1)

index1 = pd.date_range(start , end)

In [56]:
index1

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06', '2019-01-07', '2019-01-08',
               '2019-01-09', '2019-01-10',
               ...
               '2019-12-23', '2019-12-24', '2019-12-25', '2019-12-26',
               '2019-12-27', '2019-12-28', '2019-12-29', '2019-12-30',
               '2019-12-31', '2020-01-01'],
              dtype='datetime64[ns]', length=366, freq='D')

In [57]:
# bdate means a business day
index2 = pd.bdate_range(start , end)

In [58]:
index2

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-07', '2019-01-08', '2019-01-09', '2019-01-10',
               '2019-01-11', '2019-01-14',
               ...
               '2019-12-19', '2019-12-20', '2019-12-23', '2019-12-24',
               '2019-12-25', '2019-12-26', '2019-12-27', '2019-12-30',
               '2019-12-31', '2020-01-01'],
              dtype='datetime64[ns]', length=262, freq='B')

In [59]:
index3 = pd.date_range(start , periods = 1000, freq= 'M')

In [60]:
index3

DatetimeIndex(['2019-01-31', '2019-02-28', '2019-03-31', '2019-04-30',
               '2019-05-31', '2019-06-30', '2019-07-31', '2019-08-31',
               '2019-09-30', '2019-10-31',
               ...
               '2101-07-31', '2101-08-31', '2101-09-30', '2101-10-31',
               '2101-11-30', '2101-12-31', '2102-01-31', '2102-02-28',
               '2102-03-31', '2102-04-30'],
              dtype='datetime64[ns]', length=1000, freq='M')

## Timestamp Limitations

In [61]:
pd.Timestamp.min

Timestamp('1677-09-21 00:12:43.145225')

In [62]:
pd.Timestamp.max

Timestamp('2262-04-11 23:47:16.854775807')

## String and DateTime

In [63]:
tstamp1 = datetime(2019, 1, 3)

In [64]:
tstamp1

datetime.datetime(2019, 1, 3, 0, 0)

In [65]:
str(tstamp1)

'2019-01-03 00:00:00'

In [67]:
tstamp1.strftime('%Y-%m-%d')

'2019-01-03'