In [1]:
import pandas as pd

In [2]:
df= pd.read_html('https://www.google.com/')

In [3]:
df

[    0                                                  1                2
 0 NaN  (function(){var id='tsuid1';document.getElemen...  Advanced search]

In [4]:
len(df)

1

In [5]:
type(df)

list

In [6]:
df[0].head()

    0                                                  1                2
0 NaN  (function(){var id='tsuid1';document.getElemen...  Advanced search

In [7]:
from lxml import objectify
from io import StringIO

In [8]:
tag = '<a href = "https://www.google.com/">Google </a>'

In [9]:
root = objectify.parse(StringIO(tag)).getroot()

In [10]:
root

In [11]:
root.get('href')

'https://www.google.com/'

In [12]:
print(root.text)

Google

# Interact with Web API

In [24]:
import requests

In [25]:
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'

In [26]:
url

'https://api.github.com/repos/pandas-dev/pandas/issues'

In [27]:
resp = requests.get(url)

In [28]:
resp

In [29]:
type(resp)

requests.models.Response

In [30]:
data = resp.json()

print(type(data))

<class 'list'>

In [31]:
output = pd.DataFrame(data, columns = ['number', 'title', 'labels','state'])

In [32]:
output

,number,title,labels,state
0,34041,"CLN: remove normalize_date, but really this time",[],open
1,34040,"PERF: use isinstance(obj, Foo) instead of ABCFoo",[],open
2,34039,CLN: spelling fixes in docstrings,[],open
3,34038,"BUG: Pandas Cython pd.sort_values() function, ...","[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
4,34037,"BUG: ""min_period"" and ""min_periods"" problem in...","[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
5,34035,BUG: wrong join with nan in multiindex,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
6,34034,setting values in a dataframe with duplicated ...,[],open
7,34031,CLN: Use to_numpy directly in cov / corr,[],open
8,34030,TST: Add Series.update ExtensionArray tests,"[{'id': 849023693, 'node_id': 'MDU6TGFiZWw4NDk...",open
9,34029,"BUG: unpicking panda data frame requires ""lati...","[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
10,34028,What is the best way to normalize_json before ...,"[{'id': 49379259, 'node_id': 'MDU6TGFiZWw0OTM3...",open
11,34026,DOC: Series.str.rstrip() and Series.str.lstrip...,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
12,34023,Backport PR #33089 on branch 1.0.x (BUG: Don't...,[],open
13,34021,add test to close Issue 29463,"[{'id': 127685, 'node_id': 'MDU6TGFiZWwxMjc2OD...",open
14,34020,REGR: Series.update raises ValueError with tz-...,"[{'id': 2822342, 'node_id': 'MDU6TGFiZWwyODIyM...",open
15,34019,BUG: Multiindex.nunique raises NotImplementedE...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
16,34018,PERF: Reindexing ffill DatetimeIndexes with di...,"[{'id': 2822098, 'node_id': 'MDU6TGFiZWwyODIyM...",open
17,34017,BUG:Dtypes changed from Int to Float when merg...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
18,34014,CI: numpydev build failing,"[{'id': 48070600, 'node_id': 'MDU6TGFiZWw0ODA3...",open
19,34013,ENH: Add compression to stata exporters,[],open
20,34012,BUG: groupby with as_index=False shouldn't mod...,[],open
21,34011,Add fix to raise error when category value is ...,[],open
22,34010,BUG: ValueError: Given date string not likely ...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
23,34009,REF: avoid importing pd.NA in tslibs,"[{'id': 211029535, 'node_id': 'MDU6TGFiZWwyMTE...",open
24,34002,BUG: read_csv() wrong reading if comment-chara...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
25,33999,Failing test_missing_required_dependency in pa...,"[{'id': 48070600, 'node_id': 'MDU6TGFiZWw0ODA3...",open
26,33997,BUG:,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
27,33992,BUG: Timedelta resolution is different dependi...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
28,33988,Issue33955 Properly checking whether post_proc...,"[{'id': 76865106, 'node_id': 'MDU6TGFiZWw3Njg2...",open
29,33987,BUG:Cannot write as xlsx to GCS,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open