In [8]:
import pandas as pd
import json

In [9]:
obj = """
{"name": "Ashwin",
"places_lived": ["Nashik", "Hyderabad", "Bangalore"],
"pet": null,
"siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
{"name": "Katie", "age": 38,
"pets": ["Sixes", "Stache", "Cisco"]}]
}
"""

In [14]:
print(obj)
print(type(obj))

{"name": "Ashwin",
"places_lived": ["Nashik", "Hyderabad", "Bangalore"],
"pet": null,
"siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
{"name": "Katie", "age": 38,
"pets": ["Sixes", "Stache", "Cisco"]}]
}

<class 'str'>

In [11]:
result = json.loads(obj)

In [12]:
print(result)

{'name': 'Ashwin', 'places_lived': ['Nashik', 'Hyderabad', 'Bangalore'], 'pet': None, 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']}, {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [13]:
print(type(result))

<class 'dict'>

In [22]:
df1 = pd.DataFrame(result['siblings'], columns= ['name', 'age'])

In [23]:
print(df1)

    name  age
0  Scott   30
1  Katie   38

In [24]:
df2= pd.read_json('example_2.json')

In [25]:
df2

                                                    quiz
maths  {'q1': {'question': '5 + 7 = ?', 'options': ['...
sport  {'q1': {'question': 'Which one is correct team...